<form method="post" action="/signup">
  <label>
    <span>Username:</span>
    <input type="text" name="username" />
  </label>
  <label>
    <span>Password:</span>
    <input type="password" name="password" />
  </label>
  <input type="submit" value="Signup">
</form>
